<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
      <!--Property binding [ ]-->
    <a [title]="product.name + ' details'">
        <!--Interpolation {{ }}-->
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <!--Event binding ( )-->
  <button (click)="share()"> 
    Share
  </button>

</div>